main section {
  background-color: lavender;
  height: fit-content;
  width: 250px;
  border: 2px black ridge;
  align-content: center;
}
main h2{
  margin-bottom: 5px;
  text-align: center;
}
main p {
  padding:5px;
  margin-top: 15px;
  border: 2px purple ridge;
}
#photo-template{
  visibility: hidden;
  height: 0px;
  width: 0px;
  float: none;
}